@import "variables.less";

html, body {
    height: 100%;
    width: 100%;
}

.backstretch-carousel{
    position: fixed;
    background-color:  #000000;
    height: 100%;
    width: 100%;
    padding: 0 3.5714285714285714285714285714286em;//0 2.2631578947368421052631578947368%;
}

#nav-wrap {
    position: fixed;
    left: 0;
    right:0;
    width: 100%;
    padding: 0 3.5714285714285714285714285714286em;
    min-height: 50px;
    z-index: 1030;
}

#navbar {
    padding: 0 1.5%;
    border-color: #3d5e19;
    border-width: 0 0 2.3px;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    font-family: "Cinzel Decorative", sans-serif;
}

.navbar-brand {
    padding: 0;

    > img {
        width: @navbar-height * 2.408695652;
    }
}
/*------------------------MAIN CONTENT------------------------------------*/
.content-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    padding: 3.5714285714285714285714285714286em 3.5714285714285714285714285714286em 0;
    //padding-top: 7.8313253012048192771084337349398%;
   // margin: 0 auto;
}

    /*--------------------SERVICES---------------------------*/

#services-wrap {
    position: relative;
    top: 16.6666667%;
    text-align: center;
    display: table-cell;

    p {
      font-family: 'Tangerine', sans-serif;
      font-size: 1.75em;
      color: #ffffff;
    }

    img {
      width: 15.714285714em;
      height: 2.142857143em;
    }
}

    /*--------------------GALLERY---------------------------*/

.gallery-wrap {
    height: 100%;
    display: table-cell;
}
.gallery-row{
    margin-top: 2.0em;
    height: 35em;

    @media only screen and (min-width: 768px) {height: 15em;}
}

.img-window-wrap {
    text-align: center;
}

.img-window{
    text-align: center;
    margin: 2em auto;
    height: 10.357142857em;

    @media only screen and (min-width: 768px) {
      height: 12.857142857em;
    }

    @media only screen and (min-width: 978px) {
      height: 14em;
    }

    @media only screen and (min-width: 1024px) {
      width: 18.5em;
    }
}


.gall-img-desc {
    position: relative;
    display: none;
    margin: auto;
    z-index: 5;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 0.8em;
        @media only screen and (min-width: 768px) {font-size: 1em;}
        @media only screen and (min-width: 1200px) {font-size: 1.3em;}
    color: #ffffff;
}

.gall-image {
    width: 11.785714286em;
    height: 86.991869919%;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      width: 100%;
    }
}


/*.gall-desc-wrap {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 49.285714286% 0 49.285714286%;
}*/

.lightboxgallery {
  display: none;

  img {
    width: 17.857142857em; //250px
    height: 13.428571429em;//188px

    @media only screen and (min-width: 800px) {width: 28.571428571em; height: 21.428571429em;} //400px x 300px
    @media only screen and (min-width: 1366px) {width: 57.142857143em; height: 42.857142857em;} //800px x 600px
    @media only screen and (min-width: 1920px) {width: 71.428571429em; height: 53.571428571em;} //1000px x 750px
  }
}
