html,
body {
  height: 100%;
  width: 100%;
}
.backstretch-carousel {
  position: fixed;
  background-color: #000000;
  height: 100%;
  width: 100%;
  padding: 0 3.5714285714285714285714285714286em;
}
#navbar.navbar.navbar-fixed-top.navbar-default {
  padding: 0 4.8828125%;
  border-color: #3d5e19;
  width: 92.679355783308931185944363103953%;
  margin: 0 auto;
  font-family: "Cinzel Decorative", sans-serif;
}
/*------------------------MAIN CONTENT------------------------------------*/
.content-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  padding: 3.5714285714285714285714285714286em;
}
.content-wrapper-inner {
  height: 100%;
  dispaly: table-cell;
}
/*--------------------GALLERY---------------------------*/
.gallery-row {
  margin-top: 2.0em;
  height: 20em;
}
.img-window {
  margin: 0 !important;
  padding: 3.6603221083455344070278184480234% 25.186567164179104477611940298507%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .img-window {
    padding: 0 3.6603221083455344070278184480234%;
  }
}
.gall-img-desc {
  position: relative;
  display: none;
  margin: auto;
  z-index: 5;
  font-family: "Cinzel Decorative", sans-serif;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .gall-img-desc {
    font-size: 1.3em;
  }
}
/*.gall-desc-wrap {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 49.285714286% 0 49.285714286%;
}*/
.lightboxgallery {
  display: none;
}
.lightboxgallery img {
  width: 17.857142857em;
  height: 13.428571429em;
}
@media only screen and (min-width: 800px) {
  .lightboxgallery img {
    width: 28.571428571em;
    height: 21.428571429em;
  }
}
@media only screen and (min-width: 1366px) {
  .lightboxgallery img {
    width: 57.142857143em;
    height: 42.857142857em;
  }
}
@media only screen and (min-width: 1920px) {
  .lightboxgallery img {
    width: 71.428571429em;
    height: 53.571428571em;
  }
}
